body {
    padding:0;
    margin:0;
    background-color:grey;
}
div {
    padding:0;
    margin:0;
    display:block;
}
#game {
    width:1280px;
    height:720px;
    background-color:black;
    color:white;
    font-size:24px;
    font-family:"Courier New";//"Georgia";
    //background:url("images/background/lawn-3291164_1280.png");
}

#recenter:hover{cursor:pointer}

#map table {
    border-spacing:1px;
    border-collapse:separate;
}
#map td{
    border:1px solid grey;
    
}
img.collect, img.cardinv {
    padding-left:4px;
    padding-right:4px;
    //border-top-left-radius:8px;
    //border-bottom-right-radius:8px;
    font-size:22px;
    text-decoration:underline;
    width:24px;
    height:24px;
}
img.cardinv {
    width:15px;
    height:15px;
}
a.collected {
    background-color:lightblue;
}
img.pres_collected {
/*    left: 1141px !important;*/
/*    top: 649px !important;*/
}
a.narrator, {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size:18px;
}

#help {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size:24px;
}

a.splash {
    position:absolute;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size:60px;
    left:464px;
}

a.splashplay {
    position:absolute;
    text-shadow:3px 0 0 green, 0 -3px 0 green, 0 3px 0 green, -3px 0 0 green;
    font-size:70px;
    left:550px;
    top:420px;
    background-color:white;
    color:white;
    border:3px solid #B3000C;
    border-radius:35px;
    padding-left:10px;
    padding-right:10px;
}
a.splashplay:hover{cursor:pointer}


a.xredtxtoutline {
    text-shadow:1px 0 0 #B3000C, 0 -1px 0 #B3000C, 0 1px 0 #B3000C, -1px 0 0 #B3000C;
}

a.xgreentxtoutline {
    text-shadow:1px 0 0 green, 0 -1px 0 green, 0 1px 0 green, -1px 0 0 green;
}

a.splash1{
    top:70px;
}
a.splash2{
    top:140px;
}
a.splash3{
    top:210px;
}
a.splash4{
    top:280px;
}

/*xmp display*/

/* /\* |#9F0807*\/ .h0{background-color:#9F0807}/\*.|#EC1515*\/ .h1{background-color:#EC1515}/\*X|#B84949*\/ .h2{background-color:#B84949}/\*o|#CE6161*\/ .h3{background-color:#CE6161}/\*O|#B8B2B2*\/ .h4{background-color:#B8B2B2}/\*+|#CB9797*\/ .h5{background-color:#CB9797}/\*@|gray98*\/ .h6{/\*background-color:gray98*\/}/\*#|black*\/ .h7{background-color:black} */

/* /\* |#8A470D*\/ .b0{background-color:#8A470D}/\*.|#8E522C*\/ .b1{background-color:#8E522C}/\*X|#2073D6*\/ .b2{background-color:#2073D6}/\*o|#388CE3*\/ .b3{background-color:#388CE3}/\*O|#55A0E8*\/ .b4{background-color:#55A0E8}/\*+|#ADBCC9*\/ .b5{background-color:/\*#ADBCC9*\/white}/\*@|#A9C8E6*\/ .b6{background-color:#A9C8E6}/\*#|#F8F7F6*\/ /\*.b7{background-color:#F8F7F6}*\/ */

/* table, caption, tbody, tfoot, thead, tr, th, td { */
/*     margin: 0; */
/*     padding: 0; */
/*     border: 0; */
/*     outline: 0; */
/*     border-collapse:collapse; */
/*     /\*font-size: 100%;*\/ */
/*     /\*vertical-align: baseline;*\/ */
/*     /\*background: transparent;*\/ */
/* } */
/* td {font-family: "Courier New"; */
/* border-spacing:0; */
/* -webkit-border-horizontal-spacing: 0; */
/* vertical-align: baseline; */
/* font-size: 100%; */
/* border-collapse: collapse; */
/* } */
/* td { */
/* font-family: "Courier New"; */
/* font-size: 100%; */
/* width:2px; */
/* height:2px; */
/* } */
/* .b0,.b1,.b2,.b3,.b4,.b5,.b6, .b7 { */
/*     width:8px !important; */
/*     height:8px !important; */
/* } */
